<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        <input type="email" id="email" class="form-control" name="email" />
        <label class="form-label" for="emailAddress">Email</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        <input type="tel" id="phoneNumber" class="form-control" name="phone_number" />
        <label class="form-label" for="phoneNumber">Phone Number</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        <input type="tel" id="companydescription" class="form-control" name="company_description" />
        <label class="form-label" for="companydescription">Company Description</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        <input type="file" (change)="onFileSelected($event)">
              <button class="btn btn-outline-primary round-button mx-2"
              type="button" (click)="onUpload()">Apply</button>
        <label class="form-label" for="jobpreferences">upload your image</label>
      </div>
    </div>
  </div>
</div>
