<div class="container-fluid body-background">
  <div class="header">
      <h1>Find your dream job now</h1>
      <div>5 lakh+ jobs for you to explore</div>
  </div>
  <div class="Wrapper ">
      <div>
          <div class="logoContainer">
              <img src="https://static.naukimg.com/s/7/103/i/search.9ec0e1ac.svg" id="searchIcon">
              <input type="text" placeholder="Enter Skills / designations / companies" class="sugginput"
                  id="input1">
              <div class="pipe1"></div>
              <input type="text" placeholder="Enter location" class="sugginput" id="input2">
              <div class="pipe1"></div>
              <select id="input3" class="sugginput">
                  <option value="" hidden="">Select Experience</option>
                  <!-- Available Options -->
                  <option value="1">Freshers</option>
                  <option value="2">1 year</option>
                  <option value="3">2 years</option>
                  <option value="4">3 years</option>
                  <option value="5">4 years</option>
                  <option value="6">5 years</option>

              </select>

              <input type="submit" routerLink="/job-listing" class="search" value="Search">
          </div>
      </div>
  </div>


  <div class="navbar-nav me-auto mb-2 mb-lg-0">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/job-listing">Job listing</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" routerLink="/my-jobs">My jobs</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" routerLink="/seeker-profile">Seeker profile</a>
      </li>

    </ul>
  </div>
</div>
